.top-navigation {
  padding: 20px;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 40px;
}

@mixin page-section {
  border: 2px solid $color-primary;
  padding: 20px;
  margin-bottom: 20px;
}

article {
  @include page-section;
}

.tags-cloud {
  @include page-section;
}

.archive {
  @include page-section;
}

.blog-contents {

}
