.top-navigation {
  padding: 20px;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 40px;
}

@mixin page-section {
  border: 2px solid $color-primary;
  padding: 20px;
  margin-bottom: 30px;
}

article {
  @include page-section;
  box-shadow: 10px 10px;
}
