<div class="slide">
  <section class="flex-ns items-center justify-center">
    <div class="w-auto ph5 ph2-ns mw-100 flex items-center justify-center">
      <img src="/images/fundacja-mobile.png">
    </div>
    <div class="tc tl-ns ph3 w-50-ns">
      <h1 class="f3 f1-l fw2 mb3 mt4 mt0-ns">Strona z blogiem dla Fundacji "Przedwiośnie"</h1>
      <h2 class="f5 f3-l fw1 mb4 mb5-l lh-title silver">Strona zbudowana z użyciem CMS-a <a href="https://getgrav.org/" class="no-underline bg-animate green hover-light-green" target="_blank">Grav <i class="fa fa-grav" aria-hidden="true"></i></a> pozwala na dodawanie nowych projektów, wydarzeń, wpisów na blogu, a także nowych pozycji do słownika, posiadającego wygodną wyszukiwarkę.</h2>
    </div>
  </section>
</div>
<div class="slide slide--first">
  <section class="flex-ns items-center justify-center">
    <img class="" src="/images/fundacja-desktop.png">
  </section>
</div>
