<article data-name="article-full-bleed-background" class="bg-dark-gray green cf ph3 ph5-ns pv5 section section--first" data-anchor="home">
  <div class="cf">
    <div class="fl pa3 pa4-ns  measure-narrow f3">
      <header class="b--black-70 pv4">
        <h1 class="f2 lh-title fw9 mb3 mt0 pt3">
    Paweł Targoński
  </h1>
        <h2 class="f3 lh-title silver">
    <span class="light-yellow">Buduję strony internetowe.</span> W tym miejscu możesz zobaczyć część projektów, którymi się zajmowałem lub zajmuję.
  </h2>
      </header>
      <section class="pt2 pb3 bt bw2">
        <div class="p0 lh-copy">
          <a class="f4 fw7 dib pa2 no-underline bg-animate hide-child hover-bg-light-yellow green hover-dark-gray" href="https://codepen.io/paweltar/" target="_blank">codepen <i class="fa fa-codepen child" aria-hidden="true"></i></a>
        </div>
        <div class="p0 lh-copy">
          <a class="f4 fw7 dib pa2 no-underline bg-animate hide-child hover-bg-light-green green hover-dark-gray" href="https://github.com/paweltar" target="_blank">github <i class="fa fa-github child" aria-hidden="true"></i></a>
        </div>
        <div class="p0 lh-copy">
          <a class="f4 fw7 dib pa2 no-underline bg-animate hide-child hover-bg-light-red green hover-dark-gray" href="https://twitter.com/paweltargonski" target="_blank">twitter <i class="fa fa-twitter child" aria-hidden="true"></i></a>
        </div>
      </section>
    </div>
  </div>
</article>
