<div class="slide">
  <section class="flex-ns items-center justify-center">
    <div class="w-auto ph5 ph2-ns mw-100 flex items-center justify-center">
      <img src="/images/schronisko-pobroszyn-mobile.png">
    </div>
    <div class="tc tl-ns ph3 w-50-ns">
      <h1 class="f3 f1-l fw2 mb3 mt4 mt0-ns">Nowa strona dla Schroniska w Wąworkowie</h1>
      <h2 class="f5 f3-l fw1 mb3 lh-title silver">Statyczna, responsywna strona, zawierająca mapkę i wszystkie przydatne informacje, łącznie z galerią i odpowiedziami na częste pytania.</h2>
      <div class="p0 lh-copy">
        <a class="f4 fw7 dib dim pa2 no-underline bg-animate bg-light-yellow dark-gray" href="https://www.schronisko-pobroszyn.pl/" target="_blank">zobacz <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
</div>
<div class="slide slide--first">
  <section class="flex-ns items-center justify-center">
    <img class="" src="/images/pobroszyn_desktop.png">
  </section>
</div>
