<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121010" />
    <title>Paweł Targoński</title>
    <link rel="stylesheet" href="{{root}}css/main.css">
  </head>
  <body>
    <nav class="top-navigation">
      <a href="/" class="highlighted">Strona Główna</a>
      <a href="/blog.html" class="highlighted">Wszystkie Wpisy</a>
    </nav>
    <section class="container">
      <div class="row--blog">
        <aside class="aside-navigation">
          <div class="tags-cloud">
            <span>technologia</span>
            <span>historia</span>
            <span>sztuka</span>
          </div>
          <div class="archive">
            <p>kwiecień (3)</p>
          </div>
        </aside>
        <div class="blog-contents">
          {{> body}}
        </div>
      </div>
    </section>
    {{> scripts}}
  </body>
</html>
