.text-container {
  lost-column: 3/4;
  border: 2px solid $color-primary;
  padding: 20px;
  box-shadow: 10px 10px;
}

.section--info-box {
  lost-row: 2/3;
}

.section--footer {
  text-align: center;
  lost-row: 1/3;
}

.grid--vertical {
  height: 100vh;
  lost-center: 980px;
  > section {
    lost-align: center;
  }
}
