@import "settings";
@import "grid";
@import "old-screen-effect";
@import "pages/blog/blog-grid";
@import "pages/blog/blog";

.divider {
  border-color: $color-primary;
  margin: 20px 0;
}

.highlighted {
  text-decoration: none;
  background-color: $color-primary;
  color: $screen-background;
  line-height: 1.2rem;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: lighten($color-primary, 20%);
    box-shadow: inset 0px 0px 10px 2px lighten($color-primary, 0%),
                      0px 0px 10px 2px lighten($color-primary, 0%);
  }
}

a {
  color: $color-primary;
  text-decoration: none;
}
