@import "settings";
@import "vendor/jquery-fullpage";

.active {
 color: #19A974;
}

.slide {
 img {
  max-height: 620px;
 }
}

.section--first {
 background: linear-gradient( rgba(0, 0, 0, 0.5),
 rgba(0, 0, 0, 0.5)), url('/images/notebook-computer-chill-relax.jpg') no-repeat center center fixed;
 background-size: cover;
}

.section--second {
 background-image: linear-gradient( rgba(0, 0, 0, 0.7),
 rgba(0, 0, 0, 0.7)), url('/images/section2bg.jpg');
 background-size: cover;
}

.link, .link:active, .link:focus {
  outline: none;
}
